<html>
    <head>
        <title>Delta</title>
        <script src="https://cdn.plot.ly/plotly-3.0.1.min.js"></script>
    </head>
    <body>
        <div id="chart"></div>
    </body>
    <script>
        var data = [
            {{ range $index, $car := .Cars -}}
            {
                x: {{ $car.LapNumbers }},
                y: {{ $car.Deltas }},
                mode: 'lines+markers',
                type: 'scatter',
                name: 'Car {{ add $index 1 }}',
                hoverinfo: 'text',
                hovertext: {{ $car.HoverText }}
            },
            {{ end -}}
        ];
    
        var layout = {
            title: 'Lap Times',
            xaxis: {
                title: 'Laps',
            },
            yaxis: {
                title: 'Delta (s)',
                tickvals: {{ .YTicks }},
                ticktext: {{ .YTicksFormatted }},
                tickmode: 'array',
            }
        };
    
        Plotly.newPlot('chart', data, layout);
    </script>
</html>